#welcomeAvatarContainer {
    text-align: center;
}

#welcomeText {
    text-align: center;
}

.avatarImage {
    height: 550px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#mainContainer {
    padding-top: 25px;
    /*background-color: #FBE8A6; */
    background: rgb(251,232,166);
    background: linear-gradient(0deg, rgba(251,232,166,1) 82%, rgba(244,151,108,1) 100%);
}

#aboutMeContainer {
    font-weight: bold;
    color: #303c6c;
    background: rgb(244,151,108);
    background: linear-gradient(0deg, rgba(244,151,108,1) 82%, rgba(251,232,166,1) 100%);
    padding: 100px 50px 50px 50px;
}

#projectsContainer {
    font-weight: bold;
    color: #FBE8A6;
    background: rgb(48,60,108);
    background: linear-gradient(0deg, rgba(48,60,108,1) 82%, rgba(244,151,108,1) 100%);
    padding: 150px 50px 0px 50px;
}

#externalLinkIcons {
    text-align: center;
}

footer {
    text-align: center;
}

#topBar {
    background-color: #f4976c;
    padding-top: 5px;
    padding-bottom: 5px;
}

#languageIcon {
    margin-right: 15px;
    margin-top: 25px;
    width: 75px;
    height: 75px;
}

#cssIcon {
    margin-right: 15px;
    height: 75px;
}

#projectImage {
    display: none;
}
